<% provide(:title,"All List of Tasks") %>

<h1>All List of Tasks</h1>
<ul class="list_of_tasks">
      we have <%=  @lists.count %> lists.
</ul>
<ol>
      <% @lists.map do |l| %>
             <li> <%= l.name %> 
                  <%= link_to "Show more ", edit_list_path %>
                 | <%= link_to  "edit", edit_list_path(l)  %> 
                 | <%= button_to "Delete" ,list_path(l), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
            </li>
      <% end %>
</ol>

<p>
<%= link_to "+ Create a new  List", new_list_path %>
</p>

