<li id="task-<%= task.id %>">
    <% if task.completed %>
    <p style="text-decoration: line-through;">
    <% else %>
    <p>
    <% end %>

    <span class="description"><strong>description </strong>
        <%= task.description %>
        </span>
        <span class="tools-task">
            <button><%= link_to "Edit", edit_task_path(task) %></button>
            <%= button_to "Change state",change_completed_task_path(task), method: :patch %>
        <span><%= render "/tasks/delete_task", task: task %></span>

    </p>
</li>